
<section>
    <div class="container" >
      <div class="row">
        <nz-breadcrumb>
          <nz-breadcrumb-item>
            <span nz-icon nzType="home"></span>
          </nz-breadcrumb-item>
          <nz-breadcrumb-item>
            <a>
              <span nz-icon nzType="user"></span>
              <span>Liste des bagages</span>
            </a>
          </nz-breadcrumb-item>
          <nz-breadcrumb-item></nz-breadcrumb-item>
        </nz-breadcrumb>
        <div class="col-lg-12" *ngIf="bagage" style="padding-top: 25px;">
          <div class="jumbotron">
            <h1 class="display-4">{{ bagage.nom   }} {{ bagage.prenom }} </h1>
            <p class="lead"><strong>Tel:</strong> {{ bagage.tel }} <strong>Email:</strong>
              {{ bagage.email }} <strong>Adresse:</strong> {{ bagage.adresse }}
              <strong> Ville:</strong> {{ bagage.ville }} <strong>Pays:</strong> {{ bagage.pays }}</p>
            <hr class="my-4">
            
            <a class="btn btn-warning btn-lg" href="/update/{{ bagage.id }}" role="button">{{ bagage.status }}</a>
          </div>
  
   
  
  
        <nav>
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Infromations 1</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Infromations 2</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Infromations 3</a>
            <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">Infromations 4</a>
          </div>
        </nav>
        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <ul>
            <li><strong>Debut du voyage: </strong>{{ bagage.dbvoyage }}</li>
            <li><strong>Fin du voyage du voyage:</strong> {{ bagage.fnvoyage }}</li>
            <li><strong>Compagnie aérienne:</strong> {{ bagage.compagnie }}</li>
            <li><strong>Numero de reservation:</strong> {{ bagage.nreservation }}</li>
            <li><strong>Lieu ou vous avez eu le probleme:</strong> {{ bagage.lieupb }}</li>
            <li><strong>Probleme: </strong>{{ bagage.probleme }}</li>
            <li><strong>vol: </strong>{{ bagage.vol }}</li>
            <li><strong>Date du vol:</strong> {{ bagage.date_du_vol }}</li>
            <li><strong>Numero du billet :</strong> {{ bagage.numero_billet }}</li>
            <li><strong>Numero de demande:</strong> {{ bagage.numeroDemande }}</li>

  
                                </ul>
          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <table class="table">
                <thead>
                    <tr>
  
                        <th scope="col">Bagage</th>
                        <th scope="col">Poids </th>
                        <th scope="col">Nombre bagage</th>
                        <th scope="col">Bagage revendique</th>
                        <th scope="col">Assistance </th>
  
                    </tr>
                </thead>
                <tbody>
                    <tr>
  
                      
                        <td>{{ bagage.bagage }}</td>
                        <td>{{ bagage.poids }}</td>
                        <td>{{ bagage.bagage_total}}</td>
                        <td>{{ bagage.bagage_revendique }}</td>
                        <td>{{ bagage.assistance }}</td>

  
                    </tr>
  
                </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <table class="table">
                <thead>
                    <tr>
  
                     
                        <th scope="col">Date de soumission</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
  
                        <td>{{ bagage.created_at }}</td>
                    </tr>
  
                </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
            <li><a
                href="{{   bagage.cni  }} ">Pièce
                d'identité</a></li>
          </div>
        </div>
  
      </div>
      </div>
    </div>
  </section>
  
  