<div class="container mt-5">
  <div class="row mt-10">
      <div class="col align-self-center">

          <div class="card text-center" style="">
              <div class="card-body">
                  <h5 class="card-title">Suivez le statut de votre demande</h5>
                  <p class="card-text">Entrer le numéro de demande pour connaitre le statu de votre demande.</p>

                  <form   [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()" >

                      <div class="form-row">
                          <input class="form-control form-control-lg" type="text" placeholder="Numéro de demande"
                              aria-label=".form-control-lg example" id="numeroDemande" formControlName="numeroDemande">
                      </div>
                      <div class="form-row mt-5 d-grid gap-2 col-6 mx-auto">
                          <button type="submit" class="btn btn-primary self-center" [disabled]="validateForm.invalid"> Vérifier le statut de ma demande</button>
                      </div>
                      <div class="form-row mt-5">







                      </div>
                  </form>

              </div>
          </div>
      </div>

  </div>

</div>


