<section class="w3l-main-slide mr-5 ml-5" id="home" >
  <div class="companies20-conten" style="border-radius: 15px; border-color: red;  overflow:hidden;
background:#cccccc;
border:1px solid #cccccc;">
      <div class="owl-one owl-carousel owl-theme" >
          <div class="item">
              <li>
                  <div class="slider-info banner-v bg bg2">
                      <div class="banner-info">
                          <div class="container">
    <div class="align-items-center">
      <div class="bannerw3-content mt-lg-0 mt-4">

        <h3 class="mb-2 title text-center">
          <span> Foire Aux Questions</span>
           </h3>

         <!--   <div class="mt-sm-5 mt-4">
          <a class="btn btn-primary btn-style" href="contact.html"> Let's Work Together </a>
        </div>-->
      </div>
    </div>
  </div>

                      </div>
                  </div>
              </li>
          </div>
  </div>
  </div>
</section>



          <!-- contact -->
  <section class="w3l-contacts-12" id="contact">
      <div class="contact-top pt-5">
          <div class="container py-lg-12">
              <div class="title-heading-w3 text-center mx-auto">
                  <h3 class="title-big" style="color: #064E88">Consultez les<strong style="color:#E58828;"> questions les plus posées</strong>  par rapports aux indemnisations</h3>
              </div>
              <div class="">
                  <!-- contact form -->
                <div class="container">
<div class="accordion" id="accordionExample">
<div class="item">
   <div class="item-header" id="headingOne">
      <h2 class="mb-0">
         <button class="btn btn-link" type="button" data-toggle="collapse"
            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
     Vous vous occupez aussi des bagages perdus ou arrivés en retard?
         <i class="fa fa-angle-down"></i>
         </button>
      </h2>
   </div>
   <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
      data-parent="#accordionExample">
      <div class="t-p">
Oui, en plus PaxFree est spécialisé dans l’obtention de compensations pour vols retardés, annulés ou surbookés.
      </div>
   </div>
</div>
<div class="item">
   <div class="item-header" id="headingTwo">
      <h2 class="mb-0">
         <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         Quand suis-je éligible à une indemnité ?
         <i class="fa fa-angle-down"></i>
         </button>
      </h2>
   </div>
   <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
      data-parent="#accordionExample">
      <div class="t-p">
Vous pouvez vérifier que vous êtes éligible à une indemnité avec l’aide de notre Simulateur d’intemnité - ça prend 2 minutes et c’est complètement gratuit. Pour obtenir les indemnités de nos clients, nous travaillons sur la base de la Convention de Montreal du 28 mai 1999 <br>

<span class="fa fa-square"></span> Tous les vols partant de l’Union Européenne, quelle que soit la compagnie aérienne <br>

<span class="fa fa-square"></span> Tous les vols arrivant dans l’Union Européenne, opérés par une compagnie aérienne basée dans l’Union Européenne <br>

<span class="fa fa-square"></span> Vous pouvez réclamer une compensation pour votre vol retardé ou annulé, tant que le délai à votre destination finale est d’au moins 3 heures. Le Règlement (CE) couvre également des vols surbookés et les perturbations causées par une correspondance manquée.
      </div>
   </div>
</div>
<div class="item">
   <div class="item-header" id="headingThree">
      <h2 class="mb-0">
         <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
            data-target="#collapseThree" aria-expanded="false"
            aria-controls="collapseThree">
         La compagnie aérienne m’a remboursé pour les dépenses engendrées et le logement. Suis-je toujours éligible à une indemnité ?
         <i class="fa fa-angle-down"></i>
         </button>
      </h2>
   </div>
   <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
      data-parent="#accordionExample">
      <div class="t-p">
Oui! Même si la compagnie aérienne vous a fourni un logement et vous a remboursé pour vos dépenses supplémentaires, et/ou fourni des bons alimentaires etc., vous êtes toujours éligible à une compensation au regard de la Convention de Montreal si vous êtes arrivé à destination au moins 3 heures en retard.
      </div>
   </div>
</div>
<div class="item">
   <div class="item-header" id="headingFour">
      <h2 class="mb-0">
         <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
            data-target="#collapseFour" aria-expanded="false"
            aria-controls="collapseFour">
       Puis-je réclamer pour les frais supplémentaires causés par le vol retardé ou annulé ?
         <i class="fa fa-angle-down"></i>
         </button>
      </h2>
   </div>
   <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
      data-parent="#accordionExample">
      <div class="t-p">
         <strong>PAXFREE</strong> offre son aide pour les perturbations de vol telles qu’elles ont définies dans la Convention de Montreal. Les frais supplémentaires ne font pas partie du montant de l’indemnisation. Bien que vous puissiez réclamer des frais supplémentaires, les procédures et le taux de remboursement dépendent des compagnies aériennes. Les passagers doivent aussi être en mesure de fournir une preuve des dépenses engendrées et que la compagnie aérienne en est la cause.
      </div>
   </div>
</div>
<div class="item">
   <div class="item-header" id="headingFour">
      <h2 class="mb-0">
         <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
            data-target="#collapseFive" aria-expanded="false"
            aria-controls="collapseFivr">
     Où puis-je savoir le statut de ma réclamation ?
         <i class="fa fa-angle-down"></i>
         </button>
      </h2>
   </div>
   <div id="collapseFive" class="collapse" aria-labelledby="headingFour"
      data-parent="#accordionExample">
      <div class="t-p">
      Notre système vous prévient par email dès qu’il y a une mise à jour sur votre réclamation. Cela met également le statut de votre réclamation à jour. Si vous n’avez pas reçu d’email de notre part, c’est que nous continuons à travailler sur votre dossier et qu’il n’y a pas de mise à jour pour le moment.
      </div>
   </div>
</div>
</div>
</div>
                  <!-- //contact address -->
              </div>
          </div>
          <!-- map -->

          <!-- //map -->
      </div>
  </section>
  <!-- //contact -->
  <section class="w3l-main-slide mr-5 ml-5" id="home" >
  <div class="companies20-conte" style="border-radius: 15px; border-color: red;  overflow:hidden;
background:#cccccc;
border:1px solid #cccccc;">
      <div class="owl-one owl-carousel owl-theme" >
          <div class="item">
              <li>
                  <div class="slider-info banner-vi bg bg2">
                      <div class="banner-info">
                          <div class="container">
    <div class="align-items-center">
      <div class="bannerw3-content mt-lg-0 mt-4">

        <h3 class="mb-2 title text-center">
          <span> Besoin d’Aide ?</span>
           </h3>
       <p class="text-center">Appelez notre service de support au +229 90 000 000</p>
         <!--   <div class="mt-sm-5 mt-4">
          <a class="btn btn-primary btn-style" href="contact.html"> Let's Work Together </a>
        </div>-->
      </div>
    </div>
  </div>

                      </div>
                  </div>
              </li>
          </div>
  </div>
  </div>
</section>
