<section class="w3l-main-slider mr-5 ml-5 banner-slider" id="home"  >
  <div class="companies20-content" style="border-radius: 15px;   overflow:hidden;
background:#cccccc;
border:1px solid #cccccc;">
    <div class="owl-one owl-carouse owl-theme">


      <!--/Banner-Start-->
      <!-- main-slider -->
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <div class="item">
            <div class="slider-info banner-view  ">
              <div class="banner-info">
                <div class="container">
                    <div class="align-items-center">
                        <div class="bannerw3-content mt-lg-0 mt-4">
                            <span class="title2">Avec</span>
                            <h3 class="mb-2 title">
                                <span> PAXFREE</span>
                            </h3>
                            <p class="mt-4 pr-lg-5">Obtenez votre indemnité à la maison</p>

                        </div>
                    </div>
                </div>
            </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item">
            <div class="slider-info banner-view banner-top2">
              <div class="container">
                <div class="container">
                  <div class="align-items-center">
                      <div class="bannerw3-content mt-lg-0 mt-4">
                          <span class="title2">Avec</span>
                          <h3 class="mb-2 title">
                              <span>PAXFREE</span>
                          </h3>
                          <p class="mt-4 pr-lg-5">Obtenez votre indemnité à la maison</p>

                      </div>
                  </div>
              </div>
              </div>
            </div>
          </div>
        </ng-template>

      </owl-carousel-o>


    </div>

  </div>
</section>
