
<section>
    <div class="container" >
      <div class="row">
        <nz-breadcrumb>
          <nz-breadcrumb-item>
            <span nz-icon nzType="home"></span>
          </nz-breadcrumb-item>
          <nz-breadcrumb-item>
            <a>
              <span nz-icon nzType="user"></span>
              <span>Liste dessurbooking.s</span>
            </a>
          </nz-breadcrumb-item>
          <nz-breadcrumb-item></nz-breadcrumb-item>
        </nz-breadcrumb>
        <div class="col-lg-12" *ngIf="surbooking" style="padding-top: 25px;">
          <div class="jumbotron">
            <h1 class="display-4">{{surbooking.nom   }} {{surbooking.prenom }} </h1>
            <p class="lead"><strong>Tel:</strong> {{surbooking.tel }} <strong>Email:</strong>
              {{surbooking.email }} <strong>Adresse:</strong> {{surbooking.adresse }}
              <strong> Ville:</strong> {{surbooking.ville }} <strong>Pays:</strong> {{surbooking.pays }}</p>
            <hr class="my-4">
            
            <a class="btn btn-warning btn-lg" href="/update/{{surbooking.id }}" role="button">{{surbooking.status }}</a>
          </div>
  
   
  
  
        <nav>
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Infromations 1</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Infromations 2</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Infromations 3</a>
            <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">Infromations 4</a>
          </div>
        </nav>
        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <ul>
            <li><strong>Debut du voyage:</strong> {{ surbooking.dbvoyage}}</li>
            <li><strong>Fin du voyage du voyage: </strong>{{ surbooking.fnvoyage}}</li>
            <li><strong>Compagnie aérienne: </strong>{{ surbooking.compagnie }}</li>
    <li><strong>Numero de reservation:</strong> {{ surbooking.nreservation}}</li>
            <li><strong>Où avez-vous eu de problème ? :</strong> {{ surbooking.lieupb }}</li>
            <li><strong>Probleme:</strong> {{ surbooking.probleme }}</li>
            <li><strong>Quel était le vol ?:</strong> {{ surbooking.vol }}</li>
            <li><strong>Quelle était la date du vol?:</strong> {{ surbooking.date_du_vol }}</li>
            <li><strong>Numero de demande:</strong> {{ surbooking.numeroDemande }}</li>
            <li><strong>Passager en retard:</strong> {{surbooking.passager_retard}}</li>
            <li><strong>

                La compagnie aérienne vous a-t-elle refusé l'embarquement pour des raisons de sécurité, de sûreté, de santé ou d'inadéquation des documents de voyage ?</strong>
                
                {{ surbooking.embarquement_refuse_compagnie }}</li>
                                                        <li><strong>La compagnie aérienne a t-elle fait appel à des volontaires ?: </strong> {{ surbooking.volontaire }}</li>
                                                        <li><strong>Vous êtes-vous porté volontaire pour ne pas embarquer à bord de l'aéronef ?</strong>  {{ surbooking.appel_volontaire }}</li>
                                                        <li><strong>Le(s) passager(s) possédai(en)t-il(s) une réservation confirmée sur le vol concerné?</strong> {{ surbooking.reservation_confirmez }}</li>
  
                                </ul>
          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <table class="table">
                <thead>
                    <tr>
  
                    
                        <th scope="col">compensation financiere</th>
                        <th scope="col">Choix_remboursement</th>
                        <th scope="col">De quel type d'assistance avez-vous bénéficié ? </th>
  
                    </tr>
                </thead>
                <tbody>
                    <tr>
  
                      
                       

                        <td>{{ surbooking.compensationfinance }}</td>
                        <td>{{ surbooking.choix_remboursement }}</td>
                        <td>{{ surbooking.assistance  }}</td>

  
                    </tr>
  
                </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <table class="table">
                <thead>
                    <tr>
  
                     
                        <th scope="col">Date de soumission</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
  
                        <td>{{surbooking.created_at }}</td>
                    </tr>
  
                </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
            <li><a
                href="{{  surbooking.cni  }} ">Pièce
                d'identité</a></li>
          </div>
        </div>
  
      </div>
      </div>
    </div>
  </section>
  
  