

<header id="site-header" class="fixed-top" *ngIf="cacheOuAfficheMenu()">
    <section class="w3l-header-4">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <!--  <h1><a class="navbar-brand" href="index.html">
              <span class="fa fa-clone"></span> Excellence
              </a></h1>-->
                <a class="navbar-brand " routerLink="/">
                    <img src="assets/images/logo1.png" id="" class="ss" alt=""
                        title="" />
                </a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                    data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="fa icon-expand fa-bars"></span>
                    <span class="fa icon-close fa-times"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link"  >SERVICE RAPIDE </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/contact" >NOUS ECRIRE</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" routerLink="suivi" >SUIVI DE VOTRE DEMANDE</a>
                        </li>
                        <li class="nav-item @@services__active">
                            <a class="nav-link" routerLink="/faq" >FAQ</a>
                        </li>
                      <!--  <li class="nav-item @@contact__active">
                            <a class="nav-link"  >RESEAUX SOCIAUX</a>
                        </li>-->
                    </ul>
           <ul class="navbar-nav search-right mt-lg-0 mt-2">
                  <li class="nav-item mr-2"><a href="#search" class="btn ">
                                FR/EN</a></li>
                        <li class="nav-item mr-2" title="Se connecter">
                          <a href=" " class="btn search-search">
                                <span class="fa fa-user" aria-hidden="true"></span>

                      </a>

                      </li>
                    </ul>
             <!--

                    <div id="search" class="pop-overlay">
                        <div class="popup">
                            <form action="error.html" method="GET" class="d-flex">
                                <input type="search" placeholder="Search.." name="search" required="required"
                                    autofocus>
                                <button type="submit"><span class="fa fa-search"></span></button>
                                <a class="close" href="#close">&times;</a>
                            </form>
                        </div>
                    </div>-->
                    <!-- /search popup -->
                </div>
                <!-- toggle switch for light and dark theme -->
                <!--<div class="mobile-position">
              <nav class="navigation">
                  <div class="theme-switch-wrapper">
                      <label class="theme-switch" for="checkbox">
                          <input type="checkbox" id="checkbox">
                          <div class="mode-container">
                              <i class="gg-sun"></i>
                              <i class="gg-moon"></i>
                          </div>
                      </label>
                  </div>
              </nav>
          </div>-->
            </nav>
        </div>
    </section>
  </header>
