


<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-6 hero-content">
                <h5>Qui sommes-nous? </h5>
                <h1>Nous écrire</h1>
                <p>Suivre votre Dossier </p>
            </div>
            <div class="col-lg-3">

            </div>
        </div>
    </div>
</section>

<!-- contact -->
<section class="w3l-contacts-12" id="contact">

    <div class="contact-top pt-5">

        <div class="container py-lg-4">

            <div class="title-heading-w3 text-center mx-auto">
                <h3 class="title-big"></h3>

            </div>




            <div class="d-grid cont-main-top mt-lg-5 mt-4">
                <!-- contact form -->
                <div class="contacts12-main">

                  <nz-spin [nzSpinning]="isSpinning" [nzDelay]="500">

                    <form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()"  class="main-input">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <input type="text"  placeholder="Nom" class="form-control" formControlName="name"
                                        value="">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <input type="text"   class="form-control" formControlName="email"  placeholder="Email"
                                         >

                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-12">
                                <div class="form-group">

                                    <input type="text"   class="form-control" placeholder="Sujet"
                                    formControlName="subject" >

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <textarea formControlName="message"  placeholder="Message" rows="3" class="form-control"> </textarea>

                                </div>
                            </div>
                        </div>
                        <div class="text-center d-grid gap-2">
                            <button type="submit" class="btn btn-primary btn-style" [disabled]="validateForm.invalid">Envoyer</button>
                        </div>
                    </form></nz-spin>
                </div>
                <!-- //contact form -->
                <!-- contact address -->
                <div class="contact">
                    <div class="cont-subs">
                        <div class="cont-add">
                            <h1 class="text-center"><span class="fa fa-map-marker"></span></h1>
                            <p class="contact-text-sub text-center">Cotonou, Ste Rita, Bénin </p>
                        </div>
                        <div class="cont-add">
                            <h1 class="text-center"><span class="fa fa-phone"></span></h1>

                            <p class="contact-text-sub text-center">(+229) 97 000 000 <br>
                                (+229) 21 000 000</p>

                        </div>
                        <div class="cont-add">
                            <h1 class="text-center"> <span class="fa fa-envelope"></span></h1>
                            <p class="contact-text-sub text-center">contact@paxfree.com <br>paxfree.integral@gmail.com
                            </p>

                        </div>

                    </div>
                </div>
                <!-- //contact address -->
            </div>
        </div>
        <!-- map -->

        <!-- //map -->
    </div>
</section>

<!-- //contact -->
