.hero-content h5{
color: #fff;
font-family: Lato;
}
.hero-content p{
	font-family: Lato;
font-style: normal;
font-weight: 500;
color: #fff;

}

.hero-content h1{
	font-weight: 900;
  font-family: Lato;
color: #fff;
font-size: 90px;
}
.hero{

	  background: url("../images/banner1.png") no-repeat center;
  background-size: cover;

  position: relative;
  z-index: 0;
  display: grid;
  align-items: center;
  padding: 3em 0;
  margin-left: 45px;
  margin-right: 45px;
  border-radius: 10px;
  height: 300px;
  }


  .w3l-contacts-12 form.main-input input,
.w3l-contacts-12 textarea {
  color: var(--font-color);
  font-size: 18px;
  line-height: 28px;
  padding: 13px 20px;
  outline: none;
  border: 1px solid var(--border-color-light);
  border-radius: var(--border-radius);
  width: 100%;
  height: 80px;
background: rgba(229, 229, 229, 0.5); }

.footer-29 .container p{
    font-weight: 400;
    font-size: 20px;
}
.w3l-contacts-12 h4{
    color: #064E88;
    font-weight: bold;
}
