<section>
  <div class="container">
    <div class="col-lg-12 mb-10"><br><br><br>
      <h5 class="text-center">POSTULEZ EN REMPLISSANT LE FORMULAIRE SUIVANT</h5>
      <br>
      <nz-steps [nzCurrent]="current_step_index" class="mb-5">
        <nz-step nzTitle="1">Étape 1</nz-step>
        <nz-step nzTitle="2">Étape 2</nz-step>
        <nz-step nzTitle="3">Étape 3</nz-step>
        <nz-step nzTitle="4">Étape 4</nz-step>
        <nz-step nzTitle="5">Étape 4</nz-step>
      </nz-steps><nz-spin [nzSpinning]="isSpinning" [nzDelay]="500">
      <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()" [nzLayout]="validateForm.get('formLayout')?.value" enctype="multipart/form-data">
        <div *ngIf="current_step_index==0">
          <div class="row">
            <div class="col-lg-6">
              <!--<nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="Nom">Où votre voyage a commencé ?</nz-form-label>
                <nz-form-control nzErrorTip="Entrez votre numéro de nom!">
                  <nz-input-group>
                    <input type="text" nz-input formControlName="dbvoyage" placeholder="" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>-->

              <nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="dbvoyage">Où votre voyage a commencé ?</nz-form-label>
                   <nz-form-control nzErrorTip="Entrez Où votre voyage a commencé  !">
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="" formControlName="dbvoyage" [(ngModel)]="selectedValue">
                <nz-option *ngFor="let airport of airports" nzLabel="{{airport.iata}} {{airport.nom}}  " nzValue="{{airport.nom}} {{airport.iata}}">{{airport.nom}} {{airport.iata}}</nz-option>

              </nz-select>

          </nz-form-control>
        </nz-form-item>

            </div>
            <div class="col-lg-6">


              <nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="dbvoyage">Où votre voyage s'est-il terminé ?</nz-form-label>
                   <nz-form-control nzErrorTip="Entrez Où votre voyage s'est-il terminé  !">
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="" formControlName="fnvoyage" [(ngModel)]="selectedValue1">
                <nz-option *ngFor="let airport of airports" nzLabel="{{airport.iata}} {{airport.nom}}  " nzValue="{{airport.nom}} {{airport.iata}}">{{airport.nom}} {{airport.iata}}</nz-option>

              </nz-select>

          </nz-form-control>
        </nz-form-item>

            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">

              <nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="compagnie">Compagnie</nz-form-label>
                <nz-form-control nzErrorTip="Entrez votre compagnie!">
                  <nz-input-group>
                    <input type="text" nz-input formControlName="compagnie" placeholder="" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col-lg-6">
              <nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="nreservation">Votre numéro de réservation</nz-form-label>
                <nz-form-control nzErrorTip="Entrez votre numéro de réservation !">
                  <nz-input-group>
                    <input type="text" nz-input formControlName="nreservation" placeholder="" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="Nom">Où avez-vous eu de problème ?</nz-form-label>
                <nz-form-control nzErrorTip="Entrez votre numéro de nom de l'endroit!">
                  <nz-input-group>
                    <input type="text" nz-input formControlName="lieupb" placeholder="" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col-lg-6">
              <nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="probleme">Problème</nz-form-label>
                <nz-form-control nzErrorTip="Entrez votre problème!">
                  <nz-input-group>
                    <input type="text" nz-input   [disabled]="true" formControlName="probleme"  />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>

            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="vol">Quel était le vol ?</nz-form-label>
                <nz-form-control nzErrorTip="Entrez votre vol !">
                  <nz-input-group>
                    <input type="text" nz-input formControlName="vol" placeholder="" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col-lg-6">
              <nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="date">Quelle était la date du vol? </nz-form-label>
                <nz-form-control nzErrorTip="Entrez la date de votre vol !">
                  <nz-input-group>
                    <input type="date" nz-input formControlName="date_du_vol" placeholder="" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
        <div *ngIf="current_step_index==1" formGroupName="formation">

          <div class="row">
            <div class="col-lg-6">
              <nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="vol">Numéro de billet </nz-form-label>
                <nz-form-control nzErrorTip="Entrez le numéro de billet  !">
                  <nz-input-group>
                    <input type="text" nz-input formControlName="numero_billet" placeholder="" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col-lg-6">
              <nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="poids total">Poids total (en Kg)  </nz-form-label>
                <nz-form-control nzErrorTip="Entrez le poids total !">
                  <nz-input-group>
                    <input type="number"  nz-input formControlName="poids" placeholder=""  />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="vol">Bagages total enregistrés </nz-form-label>
                <nz-form-control nzErrorTip="Entrez  total enregistrés!">
                  <nz-input-group>
                    <input type="number" nz-input formControlName="bagage_total" placeholder="" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col-lg-6">
              <nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="Nombre_de_bagage_revendiqué">Nombre de bagages revendiqués   </nz-form-label>
                <nz-form-control nzErrorTip="Entrez le nombre de bagages revendiqués!">
                  <nz-input-group>
                    <input type="number" nz-input formControlName="bagage_revendique" placeholder="" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

    <div class="row">
            <div class="col-lg-12">

              <nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="retard">Avez-vous payé des frais exédents de bagages ? </nz-form-label>
                   <nz-form-control nzErrorTip="Avez-vous payé des frais exédents de bagages ?">
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Avez-vous payé des frais exédents de bagages ? " formControlName="frais" >
                <nz-option   nzLabel="non" nzValue="non">non</nz-option>
                <nz-option   nzLabel="oui" nzValue="oui">Oui</nz-option>

              </nz-select>

              </nz-form-control>
               </nz-form-item>
            </div>

          </div>
          <div class="row"*ngIf="validateForm.get('formation')?.value['frais'] =='oui'">
            <div class="col-lg-12">
              <nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="montant" > combien  </nz-form-label>
                <nz-form-control nzErrorTip="Entrez le montant !">
                  <nz-input-group>
                    <input type="text" nz-input formControlName="montant" placeholder="" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>


         <!-- <div class="row">
             <div class="col-lg-12">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" formControlName="informer">
              <label class="form-check-label" for="flexSwitchCheckDefault" >Avez-vous été informé de la raison pour laquelle votre vol était annulé ? </label>
            </div></div>
          </div>
          <div class="row">
          <div class="col-md-12" *ngIf="validateForm.get('formation')?.value['informer'] ">

            <nz-form-item>
              <nz-form-label [nzSpan]="100" nzRequired nzFor="raison">raison</nz-form-label>
              <nz-form-control nzErrorTip="Entrez votre vol !">
                <nz-input-group>
                  <input type="text" nz-input formControlName="raison" placeholder="" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div></div>-->

        <!--  <div class="row">
          <div class="col-md-12">
            <label for="inputEmail4" class="form-label">Avez-vous reçu une compensation financière ? si oui combien</label>
            <input type="text" class="form-control" id="inputEmail4" formControlName="compensationfinance">
          </div></div>
          <div class="row">
          <div class="col-md-12">

            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" formControlName="choix_remboursement" >
              <label class="form-check-label" for="flexSwitchCheckDefault" >Vous a-t-on donné le choix entre un remboursement ou un changement d'itinéraire vers votre destination finale ?</label>
            </div>

          </div></div>-->



        </div>
        <div *ngIf="current_step_index==2" formGroupName="dossier">


          <div class="row">
            <div class="col-lg-6">

              <nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="nom">Nom</nz-form-label>
                <nz-form-control nzErrorTip="Entrez votre nom !">
                  <nz-input-group>
                    <input type="text" nz-input formControlName="nom" placeholder="" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col-lg-6">
              <nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="prenom">Prénom(s)</nz-form-label>
                <nz-form-control nzErrorTip="Entrez votre prénom(s)!">
                  <nz-input-group>
                    <input type="text" nz-input formControlName="prenom" placeholder="" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>


          <div class="row">
            <div class="col-lg-6">

              <nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="pays">Pays</nz-form-label>
                   <nz-form-control nzErrorTip="Entrez votre pays !">
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" formControlName="pays" [(ngModel)]="selectedValue2">
                <nz-option *ngFor="let listepay of listepays" nzLabel="{{listepay.nom}}" nzValue="{{listepay.nom}}">{{listepay.nom}}</nz-option>

              </nz-select>

              </nz-form-control>
               </nz-form-item>
            </div>
            <div class="col-lg-6">
              <nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="contact">
                  Contact</nz-form-label>
                <nz-form-control nzErrorTip="Entrez votre Contact!">
                  <nz-input-group>
                    <input type="number" nz-input formControlName="contact" placeholder="" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>




          <div class="row">
            <div class="col-lg-6">

              <nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="ville">
                  Ville</nz-form-label>
                <nz-form-control nzErrorTip="Entrez votre ville!">
                  <nz-input-group>
                    <input type="text" nz-input formControlName="ville" placeholder="" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col-lg-6">
              <nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="adresse">
                Adresse</nz-form-label>
                <nz-form-control nzErrorTip="Entrez votre adresse">
                  <nz-input-group>
                    <input type="text" nz-input formControlName="adresse" placeholder="" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">

              <nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="email">
                  Email</nz-form-label>
                <nz-form-control nzErrorTip="Entrez votre email !">
                  <nz-input-group>
                    <input type="email" nz-input formControlName="email" placeholder="" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>

          </div>
        </div>

        <div *ngIf="current_step_index==3" formGroupName="assist">

          <div class="row">
            <div class="col-lg-12">

              <nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="assistance">De quel type d'assistance avez-vous pu bénéficié ?</nz-form-label>
                   <nz-form-control nzErrorTip="Entrez la durée du retard !">
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" formControlName="assistance"  >
                <nz-option   nzLabel="Repas" nzValue="Repas">Repas</nz-option>
                <nz-option   nzLabel="Rafraichissement" nzValue="Rafraichissement">Rafraichissement</nz-option>
              </nz-select>

              </nz-form-control>
               </nz-form-item>
            </div>
            <div class="row">
              <div class="col-lg-12">
             <div class="form-check form-switch">
               <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" formControlName="reservation">
               <label class="form-check-label" for="flexSwitchCheckDefault" >Le(s) passager(s) possédai(en)t-il(s) une réservation confirmée sur le vol concerné?</label>
             </div></div>
           </div>

           <div class="row">
            <div class="col-lg-12">
           <div class="form-check form-switch">
             <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" formControlName="droit_information">
             <label class="form-check-label" for="flexSwitchCheckDefault" >La compagnie aérienne a-t-elle fourni au(x) passager(s) des informations sur ses/leurs droits?</label>
           </div></div>
         </div>
          </div>
        </div>
        <div *ngIf="current_step_index==4" formGroupName="fin">
          <div class="col-sm-12">

            <nz-form-label [nzSpan]="100" nzFor="nom">Photo d'identité*</nz-form-label>
            <input nz-input placeholder="" type="file"    accept="image/*"  (change)=uploadLettre($event)/>
            <span *ngIf="fileUploaded">Fichier chargé</span>
            <br />
            <br />
          </div>
          <div class="col-sm-12">

            <nz-form-label [nzSpan]="100" nzFor="nom">Carte d'embarquement *</nz-form-label>
            <input nz-input placeholder="" type="file"    accept="image/*"  (change)=uploadEmbarquement($event)/>
            <span *ngIf="fileUploaded1">Fichier chargé</span>
            <br />
            <br />
          </div>
        </div>
        <div class="row">
          <div class="form-group mb-2">
            <div class="product-buttons  mt-2">
              <button class="mt-2 me-2 mb-2" nz-button nzType="primary" title="Étape précédente" (click)="previous()" [disabled]="current_step_index <= 0">Précédent</button>
              <button class="mt-2 me-2 mb-2" nz-button nzType="primary" title="Étape Suivante" (click)="next()"
               [disabled]="(validateForm.get('vol')!.invalid && current_step_index == 0) || (validateForm.get('fnvoyage')!.invalid && current_step_index == 0) || (validateForm.get('dbvoyage')!.invalid && current_step_index == 0) || (validateForm.get('nreservation')!.invalid && current_step_index == 0) || (validateForm.get('compagnie')!.invalid && current_step_index == 0) || (validateForm.get('date_du_vol')!.invalid && current_step_index == 0) || (validateForm.get('probleme')!.invalid && current_step_index == 0) ||
               (validateForm.get('formation.numero_billet')?.invalid && current_step_index == 1)||
               (validateForm.get('formation.poids')?.invalid && current_step_index == 1)||
               (validateForm.get('formation.bagage_total')?.invalid && current_step_index == 1)||
               (validateForm.get('formation.bagage_revendique')?.invalid && current_step_index == 1)||
               ( validateForm.get('formation')?.value['frais']=='oui' && validateForm.get('formation.montant')?.invalid &&current_step_index == 1) ||
               (validateForm.get('dossier')?.invalid && current_step_index == 2)||  (validateForm.get('assist.assistance')?.invalid && current_step_index == 3)|| current_step_index == 4">Suivant</button>
              <button class="mt-2 me-2 mb-2" nz-button nzType="primary"  (click)="done()" [disabled]="(validateForm.get('fin')?.invalid   && current_step_index == 4) || current_step_index !=4 || fileUploading || fileUploading1 ">Enregistrer</button>
            </div>
          </div>
        </div>


  </form></nz-spin>
</div>

