
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<app-navbar></app-navbar>
<router-outlet></router-outlet>

<section class="w3l-footer-29-main">
  <div class="footer-29 py-5">
      <div class="container py-lg-4">
          <p class=" text-center" style="color:black;"><small>Ne ratez aucune information</small></p>
          <div class="row footer-top-29">
              <div
                  class="col-lg-12 col-md-12 col-sm-12 footer-list-29 footer-1 pr-lg-3 contacts12-main w3l-contacts-12">

                  <h4 class=" text-center"><strong>ABONNEZ-VOUS A NOTRE NEWSLETTER</strong></h4>
                  <div class="footer-logo mb-4">

                  </div>
                  <form class="main-input">
                      <div class="row">

                          <div class=" col-lg-4 ">

                              <input type="text" class=" form-control-lg" name="nom" placeholder="Nom et Prénoms"
                                  required="">
                          </div>


                          <div class="col-lg-4 ">


                              <input type="text" class="form-control form-control-lg" name="email"
                                  placeholder="Email" required="">

                          </div>


                          <div class="col-lg-4 d-grid gap-2 ">
                              <button type="submit" class="btn btn-secondary btn-style"
                                  style="background-color:#064e88"> S'abonner </button>

                          </div>

                      </div>
                  </form><br>

                  <div class="w3l-contacts-12">
                      <div class="  social-icons-con text-center">
                          <h4 class="mb-3"></h4>
                          <a href="#facebook"><span class="fa fa-facebook-square"
                                  aria-hidden="true"></span></a>
                          <a href="#twitter"><span class="fa fa-twitter-square" aria-hidden="true"></span></a>
                          <a href="#linkedin"><span class="fa fa-linkedin-square"
                                  aria-hidden="true"></span></a>
                          <a href="#instagram"><span class="fa fa-envelope" aria-hidden="true"></span></a>
                      </div>
                  </div>

              </div>


          </div>
      </div>
  </div>
  <!-- copyright -->
  <section class="w3l-copyright text-center">
      <div class="container">
          <p class="copy-footer-29" style="color:black;">© Tous droits reservés @ PERO Groupe 2020
              Perogroupe</p>
      </div>

      <!-- move top -->
      <button onclick="topFunction()" id="movetop" title="Go to top">
          &#10548;
      </button>
      <script>
          // When the user scrolls down 20px from the top of the document, show the button
          window.onscroll = function() {
              scrollFunction()
          };

          function scrollFunction() {
              if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                  document.getElementById("movetop").style.display = "block";
              } else {
                  document.getElementById("movetop").style.display = "none";
              }
          }

          // When the user clicks on the button, scroll to the top of the document
          function topFunction() {
              document.body.scrollTop = 0;
              document.documentElement.scrollTop = 0;
          }
      </script>
      <!-- /move top -->
  </section>
  <!-- //copyright -->
</section>
<!-- //footer -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"
  integrity="sha512-HWlJyU4ut5HkEj0QsK/IxBCY55n5ZpskyjVlAoV9Z7XQwwkqXoYdCIC93/htL3Gu5H3R4an/S0h2NXfbZk3g7w=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="text/javascript">
  var path = "{{ route('auto') }}";

  $('input.typeahead').typeahead({
      source: function(query, process) {
          return $.get(path, {
              query: query
          }, function(data) {
              return process(data);
          });
      }
  });
</script>
<!--  javascripts file here -->
<script src="assets/js/jquery-3.3.1.min.js"></script>

<!-- //faq -->


<!-- owl carousel -->
<script src="assets/js/owl.carousel.js"></script>
<!-- script for banner slider-->
<script>
  $(document).ready(function() {
      $('.owl-one').owlCarousel({
          loop: true,
          margin: 0,
          nav: false,
          responsiveClass: true,
          autoplay: true,
          autoplayTimeout: 5000,
          autoplaySpeed: 1000,
          autoplayHoverPause: false,
          responsive: {
              0: {
                  items: 1
              },
              480: {
                  items: 1
              },
              667: {
                  items: 1
              },
              1000: {
                  items: 1
              }
          }
      })
  })
</script>
<!-- //script -->
<!-- owl carousel -->


<!-- script for customers -->
<script>
  $(document).ready(function() {
      $('.owl-three').owlCarousel({
          loop: true,
          margin: 0,
          nav: false,
          dots: false,
          responsiveClass: true,
          autoplay: true,
          autoplayTimeout: 5000,
          autoplaySpeed: 1000,
          autoplayHoverPause: false,
          responsive: {
              0: {
                  items: 3,
                  nav: true
              },
              480: {
                  items: 3,
                  nav: true
              },
              667: {
                  items: 3,
                  nav: true
              },
              800: {
                  items: 4,
                  nav: true
              },
              1000: {
                  items: 5,
                  nav: true
              }
          }
      })
  })
</script>
<!-- //customers owlcarousel -->

<!-- disable body scroll which navbar is in active -->
<!-- <script>
  $(function() {
      $('.navbar-toggler').click(function() {
          $('body').toggleClass('noscroll');
      })
  });
</script> -->
<!-- disable body scroll which navbar is in active -->

<!--/MENU-JS-->
<script>
  $(window).on("scroll", function() {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
          $("#site-header").addClass("nav-fixed");
      } else {
          $("#site-header").removeClass("nav-fixed");
      }
  });

  //Main navigation Active Class Add Remove
  $(".navbar-toggler").on("click", function() {
      $("header").toggleClass("active");
  });
  $(document).on("ready", function() {
      if ($(window).width() > 991) {
          $("header").removeClass("active");
      }
      $(window).on("resize", function() {
          if ($(window).width() > 991) {
              $("header").removeClass("active");
          }
      });
  });
</script>

<!--//MENU-JS-->

<script src="assets/js/bootstrap.min.js"></script>


<!-- JavaScript Bundle with Popper -->



<script src="{{asset('js/bootstrap.bundle.min.js')}}"></script>
<!-- script for testimonials -->
<script>
  $(document).ready(function() {
      $('.owl-two').owlCarousel({
          loop: true,
          margin: 0,
          nav: false,
          responsiveClass: true,
          autoplay: true,
          autoplayTimeout: 5000,
          autoplaySpeed: 1000,
          autoplayHoverPause: false,
          responsive: {
              0: {
                  items: 1,
                  nav: false
              },
              480: {
                  items: 1,
                  nav: false
              },
              667: {
                  items: 1,
                  nav: false
              },
              1000: {
                  items: 1,
                  nav: false
              }
          }
      })
  })
</script>
<!-- JS, Popper.js, and jQuery -->

<script>
  $(document).ready(function(){

  var current_fs, next_fs, previous_fs; //fieldsets
  var opacity;

  $(".next").click(function(){

      current_fs = $(this).parent();
      next_fs = $(this).parent().next();

      //Add Class Active
      $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

      //show the next fieldset
      next_fs.show();
      //hide the current fieldset with style
      current_fs.animate({opacity: 0}, {
          step: function(now) {
              // for making fielset appear animation
              opacity = 1 - now;

              current_fs.css({
                  'display': 'none',
                  'position': 'relative'
              });
              next_fs.css({'opacity': opacity});
          },
          duration: 600
      });
  });

  $(".previous").click(function(){

      current_fs = $(this).parent();
      previous_fs = $(this).parent().prev();

      //Remove class active
      $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

      //show the previous fieldset
      previous_fs.show();

      //hide the current fieldset with style
      current_fs.animate({opacity: 0}, {
          step: function(now) {
              // for making fielset appear animation
              opacity = 1 - now;

              current_fs.css({
                  'display': 'none',
                  'position': 'relative'
              });
              previous_fs.css({'opacity': opacity});
          },
          duration: 600
      });
  });

  $('.radio-group .radio').click(function(){
      $(this).parent().find('.radio').removeClass('selected');
      $(this).addClass('selected');
  });

  $(".submit").click(function(){
      return false;
  })

  });
</script>
