<input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><span class="las la-clinic-medical"></span> <span>Paxfree</span></h2>
        </div>
        <!--Secciones-del-tablero-->
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a routerLink="/admin/listeAnnulation" class="active"><span class="las la-home"></span>
                    <span>Annulation</span></a>
                </li>
                <li>
                    <a  routerLink="/admin/listeRetard"><span class="las la-stethoscope"></span>
                    <span>Retard</span></a>
                </li>
                <li>
                    <a routerLink="/admin/listeBagage"><span class="las la-user"></span>
                    <span>Bagage</span></a>
                </li>
                <li>
                    <a  routerLink="/admin/listeSurbooking"><span class="las la-user-injured"></span>
                    <span>Surbooking</span></a>
                </li>
                <li>
                    <a (click)="handlelogout()"><span class="las la-history"></span>
                    <span>Se deconnecte</span></a>
                </li>
              
            </ul>
        </div>
    </div>

    <div class="main-content">
        <header>
            <h2>
                <label for="nav-toggle">
                    <span class="las la-bars"></span>
                </label> Paxfree Administration
            </h2>

            <div class="search-wrapper">
                <span class="las la-search"></span>
                <input type="search" placeholder="Buscar aquí" />
            </div>
            <div class="user-wrapper">
                <img src="img/Avatar.png" width="40px" height="40px" alt="">
                <div>
                    <h4>{{authService.authentificadUser?.name}}</h4>
                    <small>Super Admin {{authService.authentificadUser?.email}}</small>
                </div>
            </div>
        </header>

        <main>
            <router-outlet></router-outlet>
            <!--<div class="cards">

                <div class="card-single">
                    <div>
                        <h1>5</h1>
                        <span>Menejo de usuarios</span>
                    </div>
                    <div>
                        <span class="las la-users"></span>
                    </div>
                </div>

                <div class="card-single">
                    <div>
                        <h1>12</h1>
                        <span>Menejo de doctores</span>
                    </div>
                    <div>
                        <span class="las la-stethoscope"></span>
                    </div>
                </div>

                <div class="card-single">
                    <div>
                        <h1>25</h1>
                        <span>Manejo de pacientes</span>
                    </div>
                    <div>
                        <span class="las la-wheelchair"></span>
                    </div>
                </div>

                <div class="card-single">
                    <div>
                        <h1>2</h1>
                        <span>Nuevas consultas</span>
                    </div>
                    <div>
                        <span class="lab la-wpforms"></span>
                    </div>
                </div>
            </div>-->
            <!--Tabla-->
         <!--   <div class="recent-grid">
                <div class="projects">
                    <div class="card">
                        <div class="card-header">
                            <h3>Pacientes recientes</h3>

                            <button>Mostrar todo <span class="las la-arrow-right">
                            </span></button>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table width="100%">
                                    <thead>
                                        <tr>
                                            <td>Nombre</td>
                                            <td>Apellido</td>
                                            <td>Estado</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Jhon Deiby</td>
                                            <td>Salazar Rayo</td>
                                            <td>
                                                <span class="status green"></span> Bueno
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Victor Manuel</td>
                                            <td>Ciro Ledesma</td>
                                            <td>
                                                <span class="status red"></span> Malo
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Julian Andres</td>
                                            <td>Quesada Carmona</td>
                                            <td>
                                                <span class="status yellow"></span> Intermedio
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Andres</td>
                                            <td>Hernandez</td>
                                            <td>
                                                <span class="status green"></span> Bueno
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Manuel</td>
                                            <td>Chicangana</td>
                                            <td>
                                                <span class="status red"></span> Malo
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Julieta</td>
                                            <td>Quesad</td>
                                            <td>
                                                <span class="status yellow"></span> Intermedio
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Marleny</td>
                                            <td>Salazar Orozco</td>
                                            <td>
                                                <span class="status yellow"></span> Intermedio
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Kelly</td>
                                            <td>Gil Ortiz</td>
                                            <td>
                                                <span class="status green"></span> Bueno
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Bilma</td>
                                            <td>Ortiz Bermudez</td>
                                            <td>
                                                <span class="status red"></span> Malo
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Julian Andres</td>
                                            <td>Salazar Rayo</td>
                                            <td>
                                                <span class="status yellow"></span> Intermedio
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Jhonatan</td>
                                            <td>Velazco</td>
                                            <td>
                                                <span class="status yellow"></span> Intermdio
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Samir</td>
                                            <td>Vidal Carmona</td>
                                            <td>
                                                <span class="status green"></span> Bueno
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Karen</td>
                                            <td>Orozco Sanches</td>
                                            <td>
                                                <span class="status red"></span> Malo
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Emiliano</td>
                                            <td>Chicaganda</td>
                                            <td>
                                                <span class="status yellow"></span> Intermedio
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Jhon Jairo</td>
                                            <td>Salazar Gallego</td>
                                            <td>
                                                <span class="status yellow"></span> Intermedio
                                            </td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="customers">

                    <div class="card">
                        <div class="card-header">
                            <h3>Nuevos pacientes</h3>

                            <button>Mostrar todo <span class="las la-arrow-right">
                            </span></button>
                        </div>

                        <div class="card-body">

                            <div class="customer">
                                <div class="info">
                                    <img src="avatars/1.png" width="40px" height="40px" alt="">
                                    <div>
                                        <h4>Ana Maria Acosta</h4>
                                        <small>Diarrea</small>
                                    </div>
                                </div>
                                <div class="contact">
                                    <span class="las la-user-circle"></span>
                                    <span class="lab la-whatsapp"></span>
                                    <span class="las la-phone"></span>
                                </div>
                            </div>

                            <div class="customer">
                                <div class="info">
                                    <img   height="40px " alt=" ">
                                    <div>
                                        <h4>Karen Orozco</h4>
                                        <small>Gripa</small>
                                    </div>
                                </div>
                                <div class="contact ">
                                    <span class="las la-user-circle "></span>
                                    <span class="lab la-whatsapp "></span>
                                    <span class="las la-phone "></span>
                                </div>
                            </div>

                            <div class="customer ">
                                <div class="info ">
                                    <img src="avatars/3.png " width="40px " height="40px " alt=" ">
                                    <div>
                                        <h4>Kelly Ortiz</h4>
                                        <small>Intoxicación</small>
                                    </div>
                                </div>
                                <div class="contact ">
                                    <span class="las la-user-circle "></span>
                                    <span class="lab la-whatsapp "></span>
                                    <span class="las la-phone "></span>
                                </div>
                            </div>

                            <div class="customer ">
                                <div class="info ">
                                    <img src="avatars/4.png " width="40px " height="40px " alt=" ">
                                    <div>
                                        <h4>Julian Quesada</h4>
                                        <small>Malestar general</small>
                                    </div>
                                </div>
                                <div class="contact ">
                                    <span class="las la-user-circle "></span>
                                    <span class="lab la-whatsapp "></span>
                                    <span class="las la-phone "></span>
                                </div>
                            </div>

                            <div class="customer ">
                                <div class="info ">
                                    <img src="avatars/5.png " width="40px " height="40px " alt=" ">
                                    <div>
                                        <h4>Nelson Stiven</h4>
                                        <small>Bartolinitis</small>
                                    </div>
                                </div>
                                <div class="contact ">
                                    <span class="las la-user-circle "></span>
                                    <span class="lab la-whatsapp "></span>
                                    <span class="las la-phone "></span>
                                </div>
                            </div>

                            <div class="customer ">
                                <div class="info ">
                                    <img src="avatars/6.png " width="40px " height="40px " alt=" ">
                                    <div>
                                        <h4>Sara Cortez</h4>
                                        <small>Acné</small>
                                    </div>
                                </div>
                                <div class="contact ">
                                    <span class="las la-user-circle "></span>
                                    <span class="lab la-whatsapp "></span>
                                    <span class="las la-phone "></span>
                                </div>
                            </div>

                            <div class="customer ">
                                <div class="info ">
                                    <img src="avatars/7.png " width="40px " height="40px " alt=" ">
                                    <div>
                                        <h4>Mario Ortiz</h4>
                                        <small>Demencia</small>
                                    </div>
                                </div>
                                <div class="contact ">
                                    <span class="las la-user-circle "></span>
                                    <span class="lab la-whatsapp "></span>
                                    <span class="las la-phone "></span>
                                </div>
                            </div>

                            <div class="customer ">
                                <div class="info ">
                                    <img src="avatars/8.png " width="40px " height="40px " alt=" ">
                                    <div>
                                        <h4>Leopoldo Sas</h4>
                                        <small>Eccema</small>
                                    </div>
                                </div>
                                <div class="contact ">
                                    <span class="las la-user-circle "></span>
                                    <span class="lab la-whatsapp "></span>
                                    <span class="las la-phone "></span>
                                </div>
                            </div>

                            <div class="customer ">
                                <div class="info ">
                                    <img src="avatars/9.png " width="40px " height="40px " alt=" ">
                                    <div>
                                        <h4>Stiven Alrboleda</h4>
                                        <small>Encefalitis</small>
                                    </div>
                                </div>
                                <div class="contact ">
                                    <span class="las la-user-circle "></span>
                                    <span class="lab la-whatsapp "></span>
                                    <span class="las la-phone "></span>
                                </div>
                            </div>

                            <div class="customer ">
                                <div class="info ">
                                    <img src="avatars/10.png " width="40px " height="40px " alt=" ">
                                    <div>
                                        <h4>Brandon Carnadona</h4>
                                        <small>Faringitis</small>
                                    </div>
                                </div>
                                <div class="contact ">
                                    <span class="las la-user-circle "></span>
                                    <span class="lab la-whatsapp "></span>
                                    <span class="las la-phone "></span>
                                </div>
                            </div>

                            
                        </div>
                    </div>
                </div>
            -->
        </main>

    </div>

         

<!-- end navbar -->




































