<section>
  <div class="container">
    <div class="col-lg-12 mb-10"><br><br><br>
      <h5 class="text-center">POSTULEZ EN REMPLISSANT LE FORMULAIRE SUIVANT</h5>
      <br>
      <nz-steps [nzCurrent]="current_step_index" class="mb-5">
        <nz-step nzTitle="1">Étape 1</nz-step>
        <nz-step nzTitle="2">Étape 2</nz-step>
        <nz-step nzTitle="3">Étape 3</nz-step>
        <nz-step nzTitle="4">Étape 4</nz-step>
        <nz-step nzTitle="5">Étape 4</nz-step>
      </nz-steps><nz-spin [nzSpinning]="isSpinning" [nzDelay]="500">
      <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()" [nzLayout]="validateForm.get('formLayout')?.value" enctype="multipart/form-data">
        <div *ngIf="current_step_index==0">
          <div class="row">
            <div class="col-lg-6">
              <!--<nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="Nom">Où votre voyage a commencé ?</nz-form-label>
                <nz-form-control nzErrorTip="Entrez votre numéro de nom!">
                  <nz-input-group>
                    <input type="text" nz-input formControlName="dbvoyage" placeholder="" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>-->

              <nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="dbvoyage">Où votre voyage a commencé ?</nz-form-label>
                   <nz-form-control nzErrorTip="Entrez Où votre voyage a commencé  !">
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="" formControlName="dbvoyage" [(ngModel)]="selectedValue">
                <nz-option *ngFor="let airport of airports" nzLabel="{{airport.iata}} {{airport.nom}}  " nzValue="{{airport.nom}} {{airport.iata}}">{{airport.nom}} {{airport.iata}}</nz-option>

              </nz-select>

          </nz-form-control>
        </nz-form-item>

            </div>
            <div class="col-lg-6">


              <nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="dbvoyage">Où votre voyage s'est-il terminé ?</nz-form-label>
                   <nz-form-control nzErrorTip="Entrez Où votre voyage s'est-il terminé  !">
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="" formControlName="fnvoyage" [(ngModel)]="selectedValue1">
                <nz-option *ngFor="let airport of airports" nzLabel="{{airport.iata}} {{airport.nom}}  " nzValue="{{airport.nom}} {{airport.iata}}">{{airport.nom}} {{airport.iata}}</nz-option>

              </nz-select>

          </nz-form-control>
        </nz-form-item>

            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">

              <nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="compagnie">Compagnie</nz-form-label>
                <nz-form-control nzErrorTip="Entrez votre compagnie!">
                  <nz-input-group>
                    <input type="text" nz-input formControlName="compagnie" placeholder="" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col-lg-6">
              <nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="nreservation">Votre numéro de réservation</nz-form-label>
                <nz-form-control nzErrorTip="Entrez votre numéro de réservation !">
                  <nz-input-group>
                    <input type="text" nz-input formControlName="nreservation" placeholder="" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="Nom">Où avez-vous eu de problème ?</nz-form-label>
                <nz-form-control nzErrorTip="Entrez votre numéro de nom de l'endroit!">
                  <nz-input-group>
                    <input type="text" nz-input formControlName="lieupb" placeholder="" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col-lg-6">
              <nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="probleme">Problème</nz-form-label>
                <nz-form-control nzErrorTip="Entrez votre problème!">
                  <nz-input-group>
                    <input type="text" nz-input   [disabled]="true" formControlName="probleme"  />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>

            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="vol">Quel était le vol ?</nz-form-label>
                <nz-form-control nzErrorTip="Entrez votre vol !">
                  <nz-input-group>
                    <input type="text" nz-input formControlName="vol" placeholder="" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col-lg-6">
              <nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="date">Quelle était la date du vol? </nz-form-label>
                <nz-form-control nzErrorTip="Entrez la date de votre vol !">
                  <nz-input-group>
                    <input type="date" nz-input formControlName="date_du_vol" placeholder="" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
        <div *ngIf="current_step_index==1" formGroupName="formation">


          <div class="row">
            <div class="col-lg-12">

              <nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="retard"> <br>
                  Vous êtes-vous porté volontaire pour ne pas embarquer à bord de l'aéronef ?</nz-form-label>
                   <nz-form-control nzErrorTip="Entrez la durée du retard !">
              <nz-select    ngModel="Oui" formControlName="volontaire" >
                <nz-option   nzLabel="Oui" nzValue="Oui"></nz-option>
                <nz-option   nzLabel="Non" nzValue="Non"></nz-option>

              </nz-select>

              </nz-form-control>
               </nz-form-item>
            </div>

          </div>


          <div class="row" *ngIf="validateForm.get('formation')?.value['volontaire']=='Non' ">
             <div class="col-lg-12">
              <nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="appelvolontaire">La compagnie aérienne a t-elle fait appel à des volontaires ?<br>
                  </nz-form-label>
                   <nz-form-control nzErrorTip="La compagnie aérienne a t-elle fait appel à des volontaires ?">
              <nz-select   ngModel="Oui" nzPlaceHolder="Selectionnez une option" formControlName="appelvolontaire" >
                <nz-option   nzLabel="Non" nzValue="Non">Non</nz-option>
                <nz-option   nzLabel="Oui" nzValue="Oui">Oui</nz-option>

              </nz-select>

              </nz-form-control>
               </nz-form-item>
          </div>
          </div>
          <div class="row" *ngIf="validateForm.get('formation')?.value['volontaire']=='Non' " >
            <div class="col-lg-12">
             <nz-form-item  >
               <nz-form-label [nzSpan]="100" nzRequired nzFor="refus_embarquement">La compagnie aérienne vous a-t-elle refusé l'embarquement pour des raisons de sécurité, de sûreté, de santé ou d'inadéquation des documents de voyage ? <br>
                 </nz-form-label>
                  <nz-form-control nzErrorTip="La compagnie aérienne vous a-t-elle refusé l'embarquement pour des raisons de sécurité, de sûreté, de santé ou d'inadéquation des documents de voyage ? ">
             <nz-select   ngModel="Oui" nzPlaceHolder="Selectionnez une option" formControlName="refus_embarquement" >
               <nz-option   nzLabel="Non" nzValue="Non">Non</nz-option>
               <nz-option   nzLabel="Oui" nzValue="Oui">Oui</nz-option>

             </nz-select>

             </nz-form-control>
              </nz-form-item>
         </div>
         </div>
         <div class="row" *ngIf="validateForm.get('formation')?.value['volontaire']=='Non' ">
          <div class="col-lg-12"  >
           <nz-form-item>
             <nz-form-label [nzSpan]="100" nzRequired nzFor="retard">
              Le(s) passager(s) s'est-il/se sont présenté(s) à l'enregistrement au plus tard à l'heure indiquée par la compagnie aérienne ?<br>
               </nz-form-label>
                <nz-form-control nzErrorTip="


Le(s) passager(s) s'est-il/se sont présenté(s) à l'enregistrement au plus tard à l'heure indiquée par la compagnie aérienne ? ">
           <nz-select  ngModel="Oui" nzPlaceHolder="Selectionnez une option" formControlName="retard" >
             <nz-option   nzLabel="Non" nzValue="Non">Non</nz-option>
             <nz-option   nzLabel="Oui" nzValue="Oui">Oui</nz-option>

           </nz-select>

           </nz-form-control>
            </nz-form-item>
       </div>
       </div>
          <div class="row" *ngIf="validateForm.get('formation')?.value['volontaire']=='Non' ">
          <div class="col-md-12" >

            <nz-form-item>
              <nz-form-label [nzSpan]="100" nzRequired nzFor="raison">Avez-vous reçu une compensation financière ? si oui combien</nz-form-label>
              <nz-form-control nzErrorTip="Avez-vous reçu une compensation financière ? si oui combien">
                <nz-input-group>
                  <input type="text" nz-input formControlName="montant" placeholder="ex: 250.000 fcfa  " />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div></div>
          <div class="row" *ngIf="validateForm.get('formation')?.value['volontaire']=='Non' ">
            <div class="col-lg-12"  >
             <nz-form-item>
               <nz-form-label [nzSpan]="100" nzRequired nzFor="retard">

Vous a-t-on donné le choix entre un remboursement OU un changement d'itinéraire vers votre destination finale ?<br>
                 </nz-form-label>
                  <nz-form-control nzErrorTip="Vous a-t-on donné le choix entre un remboursement OU un changement d'itinéraire vers votre destination finale ? ">
             <nz-select  ngModel="Oui"   formControlName="remboursement" >
               <nz-option   nzLabel="Non" nzValue="Non">Non</nz-option>
               <nz-option   nzLabel="Oui" nzValue="Oui">Oui</nz-option>

             </nz-select>

             </nz-form-control>
              </nz-form-item>
         </div>
         </div>





        </div>
        <div *ngIf="current_step_index==2" formGroupName="dossier">


          <div class="row">
            <div class="col-lg-6">

              <nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="nom">Nom</nz-form-label>
                <nz-form-control nzErrorTip="Entrez votre nom !">
                  <nz-input-group>
                    <input type="text" nz-input formControlName="nom" placeholder="" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col-lg-6">
              <nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="prenom">Prénom(s)</nz-form-label>
                <nz-form-control nzErrorTip="Entrez votre prénom(s)!">
                  <nz-input-group>
                    <input type="text" nz-input formControlName="prenom" placeholder="" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>


          <div class="row">
            <div class="col-lg-6">

              <nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="pays">Pays</nz-form-label>
                   <nz-form-control nzErrorTip="Entrez votre pays !">
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" formControlName="pays" [(ngModel)]="selectedValue2">
                <nz-option *ngFor="let listepay of listepays" nzLabel="{{listepay.nom}}" nzValue="{{listepay.nom}}">{{listepay.nom}}</nz-option>

              </nz-select>

              </nz-form-control>
               </nz-form-item>
            </div>
            <div class="col-lg-6">
              <nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="contact">
                  Contact</nz-form-label>
                <nz-form-control nzErrorTip="Entrez votre Contact!">
                  <nz-input-group>
                    <input type="number" nz-input formControlName="contact" placeholder="" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>




          <div class="row">
            <div class="col-lg-6">

              <nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="ville">
                  Ville</nz-form-label>
                <nz-form-control nzErrorTip="Entrez votre ville!">
                  <nz-input-group>
                    <input type="text" nz-input formControlName="ville" placeholder="" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col-lg-6">
              <nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="adresse">
                Adresse</nz-form-label>
                <nz-form-control nzErrorTip="Entrez votre adresse">
                  <nz-input-group>
                    <input type="text" nz-input formControlName="adresse" placeholder="" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">

              <nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="email">
                  Email</nz-form-label>
                <nz-form-control nzErrorTip="Entrez votre email !">
                  <nz-input-group>
                    <input type="email" nz-input formControlName="email" placeholder="" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>

          </div>
        </div>

        <div *ngIf="current_step_index==3" formGroupName="assist">

          <div class="row">
            <div class="col-lg-12">

              <nz-form-item>
                <nz-form-label [nzSpan]="100" nzRequired nzFor="assistance">De quel type d'assistance avez-vous pu bénéficié ?</nz-form-label>
                   <nz-form-control nzErrorTip="Entrez la durée du retard !">
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" formControlName="assistance"  >
                <nz-option   nzLabel="Repas" nzValue="Repas">Repas</nz-option>
                <nz-option   nzLabel="Rafraichissement" nzValue="Rafraichissement">Rafraichissement</nz-option>
              </nz-select>

              </nz-form-control>
               </nz-form-item>
            </div>
            <div class="row">
              <div class="col-lg-12">
             <div class="form-check form-switch">
               <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" formControlName="reservation">
               <label class="form-check-label" for="flexSwitchCheckDefault" >Le(s) passager(s) possédai(en)t-il(s) une réservation confirmée sur le vol concerné?</label>
             </div></div>
           </div>

           <div class="row">
            <div class="col-lg-12">
           <div class="form-check form-switch">
             <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" formControlName="droit_information">
             <label class="form-check-label" for="flexSwitchCheckDefault" >La compagnie aérienne a-t-elle fourni au(x) passager(s) des informations sur ses/leurs droits?</label>
           </div></div>
         </div>
          </div>
        </div>
        <div *ngIf="current_step_index==4" formGroupName="fin">
          <div class="col-sm-12">

            <nz-form-label [nzSpan]="100" nzFor="nom">Photo d'identité /Passport*</nz-form-label>
            <input nz-input placeholder="" type="file"    accept="image/*"  (change)=uploadLettre($event)/>
            <span *ngIf="fileUploaded">Fichier chargé</span>
            <br />
            <br />
          </div>
          <div class="col-sm-12">

            <nz-form-label [nzSpan]="100" nzFor="nom">Carte d'embarquement *</nz-form-label>
            <input nz-input placeholder="" type="file"    accept="image/*"  (change)=uploadEmbarquement($event)/>
            <span *ngIf="fileUploaded1">Fichier chargé</span>
            <br />
            <br />
          </div>
        </div>
        <div class="row">
          <div class="form-group mb-2">
            <div class="product-buttons  mt-2">
              <button class="mt-2 me-2 mb-2" nz-button nzType="primary" title="Étape précédente" (click)="previous()" [disabled]="current_step_index <= 0">Précédent</button>
              <button class="mt-2 me-2 mb-2" nz-button nzType="primary" title="Étape Suivante" (click)="next()"
               [disabled]="(validateForm.get('vol')!.invalid && current_step_index == 0) || (validateForm.get('fnvoyage')!.invalid && current_step_index == 0) || (validateForm.get('dbvoyage')!.invalid && current_step_index == 0) || (validateForm.get('nreservation')!.invalid && current_step_index == 0) || (validateForm.get('compagnie')!.invalid && current_step_index == 0) || (validateForm.get('date_du_vol')!.invalid && current_step_index == 0) || (validateForm.get('probleme')!.invalid && current_step_index == 0) ||

               (validateForm.get('formation')?.value['volontaire']=='Non' && validateForm.get('formation.montant')?.invalid && current_step_index == 1) ||
               (validateForm.get('dossier')?.invalid && current_step_index == 2)||  (validateForm.get('assist.assistance')?.invalid && current_step_index == 3)|| current_step_index == 4">Suivant</button>
              <button class="mt-2 me-2 mb-2" nz-button nzType="primary"  (click)="done()" [disabled]="(validateForm.get('fin')?.invalid   && current_step_index == 4) || current_step_index !=4 || fileUploading || fileUploading1 ">Enregistrer</button>
            </div>
          </div>
        </div>



  </form></nz-spin>
</div>
