
<section>
    <div class="container" >
      <div class="row">
        <nz-breadcrumb>
          <nz-breadcrumb-item>
            <span nz-icon nzType="home"></span>
          </nz-breadcrumb-item>
          <nz-breadcrumb-item>
            <a>
              <span nz-icon nzType="user"></span>
              <span>Liste des retards</span>
            </a>
          </nz-breadcrumb-item>
          <nz-breadcrumb-item></nz-breadcrumb-item>
        </nz-breadcrumb>
        <div class="col-lg-12" *ngIf="retard" style="padding-top: 25px;">
          <div class="jumbotron">
            <h1 class="display-4">{{ retard.nom   }} {{ retard.prenom }} </h1>
            <p class="lead"><strong>Tel:</strong> {{ retard.tel }} <strong>Email:</strong>
              {{ retard.email }} <strong>Adresse:</strong> {{ retard.adresse }}
              <strong> Ville:</strong> {{ retard.ville }} <strong>Pays:</strong> {{ retard.pays }}</p>
            <hr class="my-4">
            
            <a class="btn btn-warning btn-lg" href="/update/{{ retard.id }}" role="button">{{ retard.status }}</a>
          </div>
  
   
  
  
        <nav>
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Infromations 1</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Infromations 2</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Infromations 3</a>
            <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">Infromations 4</a>
          </div>
        </nav>
        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <ul>
            <li><strong>Debut du voyage:</strong> {{ retard.dbvoyage  }}</li>
            <li><strong>Fin du voyage du voyage: </strong>{{ retard.fnvoyage }}</li>
            <li><strong>Compagnie aérienne:</strong> {{ retard.compagnie }}</li>
            <li><strong>Numero de reservation:</strong> {{ retard.nreservation }}</li>
            <li><strong>Lieu ou vous avez eu le probleme:</strong> {{ retard.lieupb }}</li>
            <li><strong>Probleme:</strong> {{ retard.probleme }}</li>
            <li><strong>vol:</strong> {{ retard.vol }}</li>
            <li><strong>Date du vol:</strong> {{ retard.date_du_vol }}</li>
            <li><strong>Vol maintenu:</strong> {{ retard.maintenu }}</li>
            <li><strong>Delai du retard:</strong> {{ retard.delai }}</li>
            <li><strong>Numero de demande:</strong> {{ retard.numeroDemande }}

  
                                </ul>
          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <table class="table">
                <thead>
                    <tr>
  
                      
                        <th scope="col">Raison</th>
                        <th scope="col">compensation financiere</th>
                        <th scope="col">Choix_remboursement</th>
                        <th scope="col">Assistance </th>
  
                    </tr>
                </thead>
                <tbody>
                    <tr>
  
                      
                        <td>{{ retard.raison }}</td>
                        <td>{{ retard.compensationfinance }}</td>
                        <td>{{ retard.choix_remboursement }}</td>
                        <td>{{ retard.assistance}}</td>

  
                    </tr>
  
                </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <table class="table">
                <thead>
                    <tr>
  
                     
                        <th scope="col">Droit
                            information</th>
                        <th scope="col">Date de soumission</th>

                        <th scope="col">Reservation </th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
  
                      
                        <td>{{ retard.droit_information }}</td>
                        <td>{{ retard.created_at }}</td>

                        <td>{{ retard.reservation}}</td>
                    </tr>
  
                </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
            <li><a
                href="{{   retard.cni  }} ">Pièce
                d'identité</a></li>
          </div>
        </div>
  
      </div>
      </div>
    </div>
  </section>
  
  