
<section>
  <div class="container" >
    <div class="row">
      <nz-breadcrumb>
        <nz-breadcrumb-item>
          <span nz-icon nzType="home"></span>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a>
            <span nz-icon nzType="user"></span>
            <span>Liste des annulations</span>
          </a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item></nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="col-lg-12" *ngIf="annulation" style="padding-top: 25px;">
        <div class="jumbotron">
          <h1 class="display-4">{{ annulation.nom   }} {{ annulation.prenom }} </h1>
          <p class="lead"><strong>Tel:</strong> {{ annulation.tel }} <strong>Email:</strong>
            {{ annulation.email }} <strong>Adresse:</strong> {{ annulation.adresse }}
            <strong> Ville:</strong> {{ annulation.ville }} <strong>Pays:</strong> {{ annulation.pays }}</p>
          <hr class="my-4">
          
          <a class="btn btn-warning btn-lg" href="/update/{{ annulation.id }}" role="button">{{ annulation.status }}</a>
        </div>

 


      <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Infromations 1</a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Infromations 2</a>
          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Infromations 3</a>
          <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">Infromations 4</a>
        </div>
      </nav>
      <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <ul>
                                  <li><strong>Debut du voyage: </strong>{{ annulation.dbvoyage }}</li>
                                  <li><strong>Fin du voyage du voyage:</strong> {{ annulation.fnvoyage }}</li>
                                  <li><strong>Compagnie aérienne:</strong> {{ annulation.compagnie }}</li>
                                  <li><strong>Numero de reservation:</strong> {{ annulation.nreservation }}</li>
                                  <li><strong>Lieu ou vous avez eu le probleme:</strong> {{ annulation.lieupb }}</li>
                                  <li><strong>Probleme: </strong>{{ annulation.probleme }}</li>
                                  <li><strong>vol: </strong>{{ annulation.vol }}</li>
                                  <li><strong>Date du vol:</strong> {{ annulation.date_du_vol }}</li>
                                  <li><strong>Numero de demande:</strong> {{ annulation.numeroDemande }}</li>
                                  <li><strong>Quand avez-vous été informé de l'annulation du vol ?:</strong> {{ annulation.dta_anul }}</li>


                              </ul>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <table class="table">
              <thead>
                  <tr>

                      <th scope="col">Informer</th>
                      <th scope="col">Raison</th>
                      <th scope="col">compensation financiere</th>
                      <th scope="col">Choix_remboursement</th>
                      <th scope="col">Assistance </th>

                  </tr>
              </thead>
              <tbody>
                  <tr>

                      <td>{{ annulation.informer }}</td>
                      <td>{{ annulation.raison }}</td>
                      <td>{{ annulation.compensationfinance }}</td>
                      <td>{{ annulation.choix_remboursement }}</td>
                      <td>{{ annulation.assistance }}</td>

                  </tr>

              </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
          <table class="table">
              <thead>
                  <tr>

                      <th scope="col">Droit
                          information</th>
                      <th scope="col">Date de soumission</th>

                      <th scope="col">Reservation </th>
                  </tr>
              </thead>
              <tbody>
                  <tr>

                      <td>{{ annulation.droit_information }}</td>
                      <td>{{ annulation.created_at }}</td>

                      <td>{{ annulation.reservation }}</td>
                  </tr>

              </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
          <li><a
              href="https://bfcao.com.sapiens.ml/pax/test/public/storage/{{   annulation.cni  }} ">Pièce
              d'identité</a></li>
              <li><a
                href="https://bfcao.com.sapiens.ml/pax/test/public/storage/{{   annulation.carteEmbarquement }} ">Pièce
                d'identité</a></li>
                {{   annulation.cni  }}
        </div>
      </div>

    </div>
    </div>
  </div>
</section>

