
nav > .nav.nav-tabs{

    border: none;
      color:#fff;
      background:#72767c;
      border-radius:0;

  }
  nav > div a.nav-item.nav-link,
  nav > div a.nav-item.nav-link.active
  {
    border: none;
      padding: 18px 25px;
      color:#fff;
      background:#7c818a;
      border-radius:0;
  }

  nav > div a.nav-item.nav-link.active:after
   {
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: #1f8fc3 ;
  }
  .tab-content{
    background: #fdfdfd;
      line-height: 25px;
      border: 1px solid #ddd;
      border-top:5px solid #1f8fc3;
      border-bottom:5px solid #1f8fc3;
      padding:30px 25px;
  }

  nav > div a.nav-item.nav-link:hover,
  nav > div a.nav-item.nav-link:focus
  {
    border: none;
      background: #1f8fc3;
      color:#fff;
      border-radius:0;
      transition:background 0.20s linear;
  }
