<app-carousel></app-carousel>

<!--<section class="w3l-aboutblock1" id="about" style="position: relative;z-index: 1;margin-top: -250px;">
  <div class="midd-w3 py-5">
    <div class="container" id="calculateur">
      <div class="row" id="calculateur-row-top">

        <div class="col-md-12   ">
          <div class="tab">
            <nav>

              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-retard-tab" data-bs-toggle="tab" data-target="#nav-retard"
                  type="button" role="tab" aria-controls="nav-retard" aria-selected="true">
                  <i class="fa fa-home mr-2"></i><span>Retard</span>
                </button>
                <button class="nav-link" id="nav-annulation-tab" data-bs-toggle="tab" data-bs-target="#nav-annulation"
                  type="button" role="tab" aria-controls="nav-annulation" aria-selected="false">
                  <i class="fa fa-globe mr-2"></i><span>Annulation</span>
                </button>
                <button class="nav-link" id="nav-surbooking-tab" data-bs-toggle="tab" data-bs-target="#nav-surbooking"
                  type="button" role="tab" aria-controls="nav-surbooking" aria-selected="false">
                  <i class="fa fa-ticket mr-2"></i><span>Surbooking</span>
                </button>
                <button class="nav-link" id="nav-pb-bagage-tab" data-bs-toggle="tab" data-bs-target="#nav-pb-bagage"
                  type="button" role="tab" aria-controls="nav-pb-bagage" aria-selected="false">
                  <i class="fa fa-briefcase mr-2"></i><span>Problème de Bagages</span>
                </button>
              </div>

            </nav>
            <div class="tab-content" id="nav-tabContent">

              <div class="tab-pane fade show active" id="nav-retard" role="tabpanel" aria-labelledby="nav-retard-tab"
                tabindex="0">
                <form method="post" action=" " class="fm1">
                  <div class="container-fluid">
                    <div class="row">

                      <div class="col-md-12">


                        <div class="from-group">
                          <div class="row">
                            <div class="col-md-10">
                              <div class="row mb-2">
                                <div class="col-md-6 ">




                                  <input type="text" list="datalistOptions" class=" form-control" name="depart"
                                    autocomplete="off" placeholder="Départ">
                                  <datalist id="datalistOptions">

                                    <option value=" "></option>

                                  </datalist>

                                </div>
                                <div class="col-md-6 "> <input type="text" list="datalistOptions" class=" form-control"
                                    name="arrive" autocomplete="off" placeholder="Arrivée">
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6 mb-2">
                                  <select class="form-control" name="dureeretard" id="dureeretard"
                                    placeholder="Sélectionner la durée">
                                    <option disabled selected value> -- Sélectionner
                                      la durée -- </option>
                                    <option value="1">Moins de 2h</option>
                                    <option value="2">2h - 2h 59'</option>
                                    <option value="3">3h - 3h 59'</option>
                                    <option value="5">Plus de 4h</option>
                                  </select>

                                </div>

                                <div class="col-md-6 mb-2">
                                  <select class="form-control" name="typeRetard" id="typeRetard"
                                    placeholder="Type de retard">
                                    <option disabled selected value> -- Type de
                                      Retard -- </option>
                                    <option value="1">Retard au Départ
                                    </option>
                                    <option value="2">Retard à l'Arrivée
                                    </option>

                                  </select>

                                </div>

                              </div>


                            </div>
                            <div class="col-md-2 mb-2">
                              <button type="submit" class="calcul-btn" id="" style="color:#fff"> Calculer Votre
                                Indemnité</button>
                            </div>

                          </div>

                        </div>



                      </div>

                    </div>

                  </div>

                </form>

              </div>

              <div class="tab-pane fade" id="nav-annulation" role="tabpanel" aria-labelledby="nav-annulation-tab"
                tabindex="0">
                <form method="post" action=" " class="fm1">
                  <div class="container-fluid">
                    <div class="row">

                      <div class="col-md-10">

                        <div class="from-group">
                          <div class="row">
                            <div class="col-md-10">
                              <div class="row">
                                <div class="col-md-12 mb-2"><input type="text" class=" form-control " name="depart"
                                    list="datalistOptions" autocomplete="off" placeholder="Départ">


                                </div>





                                <div class="col-md-12 "> <input type="text" class=" form-control " name="arrive"
                                    list="datalistOptions" autocomplete="off" placeholder="Arrivée">
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-12 mb-2">


                                </div>


                              </div>


                            </div>

                          </div>

                        </div>



                      </div>
                      <div class="col-md-2 mb-2">
                        <button type="submit" class="calcul-btn" id="" style="color:#fff"> Calculer Votre
                          Indemnité</button>
                      </div>

                    </div>

                  </div>

                </form>
              </div>
              <div class="tab-pane fade" id="nav-surbooking" role="tabpanel" aria-labelledby="nav-surbooking-tab"
                tabindex="0">
                <form method="post" action=" " class="fm1">
                  <div class="container-fluid">
                    <div class="row">

                      <div class="col-md-12">


                        <div class="from-group">
                          <div class="row">
                            <div class="col-md-10">
                              <div class="row">
                                <div class="col-md-6 mb-2"><input type="text" class=" form-control " name="depart"
                                    list="datalistOptions" autocomplete="off" placeholder="Départ"></div>
                                <div class="col-md-6 mb-2"> <input type="text" class=" form-control " name="arrive"
                                    list="datalistOptions" autocomplete="off" placeholder="Arrivée">
                                </div>
                              </div>
                              <div class="row">

                                <div class="col-md-6 mb-2">
                                  <select class="form-control" name="classeplace" id="classeplace"
                                    placeholder="Sélectionner la Classe">
                                    <option disabled selected value> -- Sélectionner
                                      la Classe -- </option>
                                    <option value="1">Affaire</option>
                                    <option value="2">Economique</option>
                                  </select>

                                </div>

                              </div>


                            </div>
                            <div class="col-md-2 mb-2">
                              <button type="submit" class="calcul-btn" id="" style="color:#fff"> Calculer Votre
                                Indemnité</button>
                            </div>

                          </div>

                        </div>



                      </div>

                    </div>

                  </div>
                </form>

              </div>

              <div class="tab-pane fade" id="nav-pb-bagage" role="tabpanel" aria-labelledby="nav-pb-bagage-tab"
                tabindex="0">
                <form method="post" action=" " class="fm1">
                  <div class="container-fluid">
                    <div class="row">

                      <div class="col-md-12">


                        <div class="from-group">
                          <div class="row">
                            <div class="col-md-10">
                              <div class="row">
                                <div class="col-md-12 mb-1">
                                  <div class="row p-2">
                                    <div class="col-md-4">
                                      <div class="form-check inline">
                                        <input name="naturebagage" type="radio" class="form-check-input" id="radio1"
                                          value="1" checked>
                                        <label class="form-check-label" style="color: #404040"
                                          for="radio1">Marchandise</label>
                                      </div>
                                    </div>
                                    <div class="col-md-4">
                                      <div class="form-check inline">
                                        <input name="naturebagage" type="radio" class="form-check-input" id="radio2"
                                          value="2" checked>
                                        <label class="form-check-label" style="color: #404040"
                                          for="radio1">Bagage</label>

                                      </div>
                                    </div>
                                    <div class="col-md-4">
                                      <div class="form-check inline">

                                        <input name="naturebagage" type="radio" class="form-check-input" id="radio3"
                                          value="3" checked>
                                        <label class="form-check-label" style="color: #404040"
                                          for="radio1">Autre</label>

                                      </div>
                                    </div>
                                  </div>

                                </div>

                              </div>
                              <div class="row">
                                <div class="col-md-6 mb-2 align-self-start col-sm-12">
                                  <input id="poids" name="poids" type="number" class="form-control" placeholder="Poids">

                                </div>

                              </div>


                            </div>
                            <div class="col-md-2 mb-2">
                              <button type="submit" class="calcul-btn" id="" style="color:#fff"> Calculer Votre
                                Indemnité</button>
                            </div>

                          </div>

                        </div>



                      </div>

                    </div>

                  </div>

                </form>

              </div>
            </div>

          </div>


        </div>
      </div>

    </div>
  </div>
</section>-->
<section class="w3l-aboutblock1" id="about" style="position: relative;z-index: 1;margin-top: -150px; ">
  <div class="midd-w3 py-5">
    <div class="container" id="calculateur">
      <div class="row" id="calculateur-row-top">

        <div class="col-lg-12" id="calculateur">
          <nz-tabset nzType="card">
            <nz-tab nzTitle="RETARD">



              <form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()" class="fm1"
                style="background-color: #fff;padding-top: 10px;">
                <div class="container-fluid">
                  <div class="row">

                    <div class="col-lg-12">


                      <div class="from-group">
                        <div class="row">
                          <div class="col-lg-10">
                            <div class="row mb-2">
                              <div class="col-lg-6 ">


                                <nz-form-item>

                                  <nz-form-control nzErrorTip="Entrez Où votre voyage a commencé  !">
                                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Depart" formControlName="depart"
                                      [(ngModel)]="selectedValue" nzSize="large">
                                      <nz-option *ngFor="let airport of airports" nzLabel="{{airport.nom}}"
                                        nzValue="{{airport.nom}}"> </nz-option>

                                    </nz-select>

                                  </nz-form-control>
                                </nz-form-item>

                              </div>
                              <div class="col-lg-6 ">

                                <nz-form-item>

                                  <nz-form-control nzErrorTip="Entrez arrivée  !">
                                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Arrivée"
                                      formControlName="arrive" [(ngModel)]="selectedValue1" nzSize="large">
                                      <nz-option *ngFor="let airport of airports" nzLabel="{{airport.nom}}"
                                        nzValue="{{airport.nom}}">{{airport.nom}}</nz-option>

                                    </nz-select>

                                  </nz-form-control>
                                </nz-form-item>
                              </div>
                            </div>
                            <div class="row mb-2">
                              <div class="col-lg-6 mb-2">

                                <nz-form-item>

                                  <nz-form-control nzErrorTip="Entrez la durée du retard ?">
                                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Sélectionner
                        la durée" formControlName="dureeretard" nzSize="large">
                                      <nz-option nzLabel="Moins de 2h" nzValue="1"></nz-option>
                                      <nz-option nzLabel="2h - 2h 59" nzValue="2"></nz-option>
                                      <nz-option nzLabel="3h - 3h 59" nzValue="3"></nz-option>
                                      <nz-option nzLabel="Plus de 4h" nzValue="5"></nz-option>

                                    </nz-select>

                                  </nz-form-control>
                                </nz-form-item>



                              </div>

                              <div class="col-lg-6 mb-2">


                                <nz-form-item>

                                  <nz-form-control nzErrorTip="Entrez le type de retard ?">
                                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Type de retard "
                                      formControlName="typeretard" nzSize="large">
                                      <nz-option nzLabel="Retard au Départ" nzValue="1"></nz-option>
                                      <nz-option nzLabel="Retard à l'Arrivée" nzValue="2"></nz-option>


                                    </nz-select>

                                  </nz-form-control>
                                </nz-form-item>




                              </div>

                            </div>


                          </div>
                          <div class="col-lg-2 ">
                            <button class="yestop btn btn-primary btn-lg btn-block" id=""  type="submit" [disabled]="validateForm.invalid" >  Calculer
                                Indemnité </button>
                          </div>

                        </div>

                      </div>



                    </div>

                  </div>

                </div>

              </form>


            </nz-tab>
            <nz-tab nzTitle="ANNULATION ">

              <form [formGroup]="validateFormAnnulation" class="login-form" (ngSubmit)="submitFormAnnulation()"
                class="fm1" style="background-color: #fff; ">
                <div class="container-fluid" >
                  <div class="row " style="padding-top: 20px;">

                    <div class="col-lg-12">


                      <div class="from-group">
                        <div class="row">
                          <div class="col-lg-10">
                            <div class="row mb-2">
                              <div class="col-lg-6 yestop1">
                                <nz-form-item>

                                  <nz-form-control nzErrorTip="Entrez Où votre voyage a commencé  !">
                                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Depart" formControlName="depart"
                                      [(ngModel)]="selectedValue" nzSize="large">
                                      <nz-option *ngFor="let airport of airports" nzLabel="{{airport.nom}}"
                                        nzValue="{{airport.nom}}">{{airport.nom}}</nz-option>

                                    </nz-select>

                                  </nz-form-control>
                                </nz-form-item>

                              </div>
                              <div class="col-lg-6 yestop1">

                                <nz-form-item>

                                  <nz-form-control nzErrorTip="Entrez arrivée  !">
                                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Arrivée"
                                      formControlName="arrive" [(ngModel)]="selectedValue1" nzSize="large">
                                      <nz-option *ngFor="let airport of airports" nzLabel="{{airport.nom}}"
                                        nzValue="{{airport.nom}}">{{airport.nom}}</nz-option>

                                    </nz-select>

                                  </nz-form-control>
                                </nz-form-item>
                              </div>
                            </div>



                          </div>
                          <div class="col-lg-2 mb-2  ">
                            <button  class=" btn btn-primary btn-lg btn-block" id=""  type="submit" [disabled]="validateFormAnnulation.invalid"> Calculer Indemnité</button>
                          </div>

                        </div>

                      </div>



                    </div>

                  </div>

                </div>

              </form>
            </nz-tab>
            <nz-tab nzTitle="SURBOOKING" >
              <form [formGroup]="validateFormSurbooking" class="login-form" (ngSubmit)="submitFormSurbooking()"
                class="fm1"style="background-color: #fff;padding-top: 10px;" >
                <div class="container-fluid" style="padding-top: 50px;">
                  <div class="row">

                    <div class="col-md-12">


                      <div class="from-group">
                        <div class="row">
                          <div class="col-md-10">
                            <div class="row mb-2">
                              <div class="col-md-6 ">




                                <nz-form-item>

                                  <nz-form-control nzErrorTip="Entrez Où votre voyage a commencé  !">
                                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Depart" formControlName="depart"
                                      [(ngModel)]="selectedValue" nzSize="large">
                                      <nz-option *ngFor="let airport of airports" nzLabel="{{airport.nom}}"
                                        nzValue="{{airport.nom}}">{{airport.nom}}</nz-option>

                                    </nz-select>

                                  </nz-form-control>
                                </nz-form-item>

                              </div>
                              <div class="col-md-6 ">

                                <nz-form-item>

                                  <nz-form-control nzErrorTip="Entrez arrivée  !">
                                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Arrivée"
                                      formControlName="arrive" [(ngModel)]="selectedValue1" nzSize="large">
                                      <nz-option *ngFor="let airport of airports" nzLabel="{{airport.nom}}"
                                        nzValue="{{airport.nom}}">{{airport.nom}}</nz-option>

                                    </nz-select>

                                  </nz-form-control>
                                </nz-form-item>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6 mb-2">

                                <nz-form-item>

                                  <nz-form-control nzErrorTip="Entrez  la classe">
                                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Sélectionner
                        la classe" formControlName="classeplace" nzSize="large">
                                      <nz-option nzLabel="Affaire" nzValue="1"></nz-option>
                                      <nz-option nzLabel="Economique" nzValue="2"></nz-option>


                                    </nz-select>

                                  </nz-form-control>
                                </nz-form-item>



                              </div>



                            </div>


                          </div>
                          <div class="col-md-2 mb-2">
                            <button class="yestop btn btn-primary btn-lg btn-block" id=""  type="submit" [disabled]="validateFormSurbooking.invalid"> Calculer Indemnité</button>
                          </div>

                        </div>

                      </div>



                    </div>

                  </div>

                </div>

              </form>
            </nz-tab>
            <nz-tab nzTitle="BAGAGE">
              <form [formGroup]="validateFormBagage" class="login-form" (ngSubmit)="submitFormBagage()" class="fm1"
                style="background-color: #fff;">
                <div class="container-fluid">
                  <div class="row">

                    <div class="col-md-12">


                      <div class="from-group">
                        <div class="row">
                          <div class="col-md-10">
                            <div class="row mb-2">
                              <div class="col-md-12 ">



                                <nz-form-item>

                                  <nz-form-control nzErrorTip="Entrez le type de bagage!">
                                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Sélectionner
                     le type de bagage" formControlName="naturebagage" nzSize="large">
                                      <nz-option nzLabel="Marchandise" nzValue="1"></nz-option>
                                      <nz-option nzLabel="Bagage" nzValue="2"></nz-option>
                                      <nz-option nzLabel="Autre" nzValue="3"></nz-option>


                                    </nz-select>

                                  </nz-form-control>
                                </nz-form-item>

                              </div>

                            </div>
                            <div class="row">
                              <div class="col-md-12 mb-2">
                                <nz-form-item>

                                  <nz-form-control nzErrorTip="Entrez le poids">
                                    <nz-input-group>
                                      <input type="number" nz-input formControlName="poids" placeholder="Entrez le poids"
                                        nzSize="large"  />
                                    </nz-input-group>
                                  </nz-form-control>
                                </nz-form-item>



                              </div>



                            </div>


                          </div>
                          <div class="col-md-2 mb-2">
                            <button class="yestop btn btn-primary btn-lg btn-block" id=""  type="submit"[disabled]="validateFormBagage.invalid"



                            > Calculer Indemnité</button>
                          </div>

                        </div>

                      </div>



                    </div>

                  </div>

                </div>

              </form>

            </nz-tab>
          </nz-tabset>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="w3l-aboutblock1" id="about">
  <div class="midd-w3 py-5">
    <div class="container py-lg-5 py-md-3 py-2">
      <div class="row">
        <div class="col-lg-6">
          <div class="position-relative">
            <img src="assets/images/about.png" alt="" class="radius-image img-fluid">
          </div>
        </div>
        <div class="col-lg-6 mb-lg-0 mb-md-5 mb-5 align-self">
          <h3 class="title-big mx-0">Obtenez une indemnisation pour vol retardé ou annulé </h3>
          <p class="mt-md-4 " style="color:#E58828">En cas de retard, d’annulation, ou de correspondance
            manquée </p>
          <span nz-icon nzType="step-forward" nzTheme="outline"></span>

          <p style="font-size: 15px;">Les conventions internationales régissant le transport aérien ont prévu
            une indemnisation allant jusqu’à 600 Euros par passager. Malheureusement , seul 2% des voyageurs
            arrivent à se faire indemniser pour le retard de leur avion ou l’annulation de leur vol. C’est
            pour permettre à tous ces passagers aériens de bénéficier de cet avantage que PAXFREE est à
            votre disposition</p>

          <a style="position: right;" href="#features" class="btn btn-outline-primary btn-style mt-md-5 mt-4 mr-2">
            <span class="fa fa-arrow-left" aria-hidden="true" style="color:rgba(6, 78, 136, 0.5);"></span></a>
          <a style="position: right;" href="#view" class="btn btn-primary btn-style mt-md-5 mt-4"> <span
              class="fa fa-arrow-right" aria-hidden="true" style="color:#fff"></span></a>
        </div>

      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">

  </div>
</div>







<section class="w3l-services-block-3 py-5" id="services">
  <div class="features-main py-lg-5 py-md-3">
    <div class="container">
      <div class="header-section text-center mx-auto">
        <h3 class="title-big" style="color: #064E88">Indemnisation de vol, <br>les <strong style="color:#E58828;">3
            Etapes</strong> clés</h3>
      </div>
      <div class="row features mt-lg-4">
        <div class="col-lg-4 col-md-12 feature-grid" style="background-color: #064E88;">
          <a href="#url">
            <div class="feature-body service" style="background-color: #064E88;">
              <div class="feature-img text-center">
                <h1><strong style="color:#fff">1</strong></h1>

              </div>
              <div class="feature-info mt-4">
                <h6 class="fe mb-3 text-center" style="color:#C4C4C4">En cas de retard, d’annulation,
                  ou de correspondance manquée</h6>
                <p class="feature-text" style="color:#FAFAFA;">Saisissez vos informations : Vous
                  entrez vos informations de vol ainsi que celles relatives à votre identité, afin de
                  les soumettre à notre équipe d’experts.
                </p>

              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-12 feature-grid" style="background-color: #FAFAFA;">
          <a href="#url">
            <div class="feature-body service" style="background-color: #FAFAFA;">
              <div class="feature-img text-center">
                <h1><strong style="color: #064E88">2</strong></h1>
              </div>
              <div class="feature-info mt-4">
                <h6 class="fel mb-3 text-center" style="color:#C4C4C4">Nos experts prennent le relais
                </h6>
                <p class="feature-text" style="color: #064E88">Nos experts étudient minutieusement
                  votre dossier : En tenant compte des informations que vous avez fournies, et de la
                  réglementation en vigueur, nos experts étudient les meilleures options pour vous
                  aider
                </p>

              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-12 feature-grid" style="background-color: #E58828;">
          <a href="#url" style="background-color: #E58828;">
            <div class="feature-body service" style="background-color: #E58828;">
              <div class="feature-img text-center">
                <h1><strong style="color:#fff">3</strong></h1>
              </div>
              <div class="feature-info mt-4">
                <h6 class="featl mb-3 text-center" style="color:#C4C4C4">Vous obtenez votre indemnité
                </h6>
                <p class="feature-text" style="color:#FAFAFA">Vous obtenez votre indemnité : Jusqu'à
                  600 € ! C'est ce que vous pouvez obtenir en indemnité de frais de voyage après un
                  abus de votre compagnie aérienne.
                </p>

              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //pricing version 2 -->

<!--  News section -->
<!--<div class="w3l-news text-11" id="homeblog">
              <section id="grids5-block" class="py-5">
                  <div class="container py-lg-5 py-md-4 py-2">
                      <h3 class="title-big text-center">Our Great Idea For<br>
                          IT News</h3>
                      <div class="row mt-lg-5 mt-4 text11-content">
                          <div class="col-lg-4 col-md-6 mt-md-0 mt-sm-4">
                              <div class="grids5-info">
                                  <a href="#blog-single" class="blog-image d-block zoom"><img src="assets/images/blog1.jpg"
                                          alt="" class="img-fluid news-image" />
                                      <div class="image-overlay">
                                          <span class="fa fa-plus"></span>
                                      </div>
                                  </a>
                                  <div class="blog-info card-body blog-details">
                                      <h6 class="">Jan 15, 2021.</h6>
                                      <a href="#category" class="post">Business, Case study</a>

                                      <a href="#blog-single" class="blog-desc">Designers Checklist for Every UX
                                          Project they Do.</a>
                                          <a href="#blog-single" class="read">Read more <span
                                                  class="fa fa-arrow-right"></span></a>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                              <div class="grids5-info">
                                  <a href="#blog-single" class="blog-image d-block zoom"><img src="assets/images/blog6.jpg"
                                          alt="" class="img-fluid news-image" />
                                      <div class="image-overlay">
                                          <span class="fa fa-plus"></span>
                                      </div>
                                  </a>
                                  <div class="blog-info card-body blog-details">
                                      <h6 class="">Jan 15, 2021.</h6>
                                      <a href="#category" class="post">Business, Case study</a>

                                      <a href="#blog-single" class="blog-desc">Designers Checklist for Every UX
                                          Project they Do.</a>
                                          <a href="#blog-single" class="read">Read more <span
                                                  class="fa fa-arrow-right"></span></a>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                              <div class="grids5-info">
                                  <a href="#blog-single" class="blog-image d-block zoom"><img src="assets/images/blog3.jpg"
                                          alt="" class="img-fluid news-image" />
                                      <div class="image-overlay">
                                          <span class="fa fa-plus"></span>
                                      </div>
                                  </a>
                                  <div class="blog-info card-body blog-details">
                                      <h6 class="">Jan 15, 2021.</h6>
                                      <a href="#category" class="post">Business, Case study</a>
                                      <a href="#blog-single" class="blog-desc">Designers Checklist for Every UX
                                          Project they Do.</a>
                                          <a href="#blog-single" class="read">Read more <span
                                                  class="fa fa-arrow-right"></span></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </section>
          </div>-->
<!--  //News section -->

<!-- customers Section -->
<!--<section class="w3l-customers py-md-5 py-4" id="clients">
              <div class="container">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="owl-three owl-carousel owl-theme logo-view">
                              <div class="item">
                                  <img src="assets/images/logo1.png" alt="company-logo" class="img-fluid">
                              </div>
                              <div class="item">
                                  <img src="assets/images/logo2.png" alt="company-logo" class="img-fluid">

                              </div>
                              <div class="item">
                                  <img src="assets/images/logo3.png" alt="company-logo" class="img-fluid">

                              </div>
                              <div class="item">
                                  <img src="assets/images/logo4.png" alt="company-logo" class="img-fluid">

                              </div>
                              <div class="item">
                                  <img src="assets/images/logo1.png" alt="company-logo" class="img-fluid">

                              </div>
                              <div class="item">
                                  <img src="assets/images/logo2.png" alt="company-logo" class="img-fluid">

                              </div>
                              <div class="item">
                                  <img src="assets/images/logo3.png" alt="company-logo" class="img-fluid">

                              </div>
                              <div class="item">
                                  <img src="assets/images/logo4.png" alt="company-logo" class="img-fluid">

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>-->
<!-- //customers Section -->
<!-- footer -->

<!-- footer -->
