<div class="container-fluid" style="margin-top: 65px;">
<div class="row"> 
 
  <div class="col-lg-12 pt-10">
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <span nz-icon nzType="home"></span>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a>
          <span nz-icon nzType="user"></span>
          <span>Liste des annulations</span>
        </a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item></nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-table #basicTable [nzData]="annulations">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Contact</th>
          <th>Email</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.nom}}</td>
          <td>{{ data.prenom }}</td>
          <td>{{ data.tel }}</td>
          <td>{{ data.email }}</td>
          <td>  <button nz-button     nzShape="round"  [ngClass]="data.status =='En attente' ? 'btn-outline-danger' : 'btn-success' ">{{ data.status }}</button>


          <td>

            <button nz-button nzType="primary" (click)="handleEditProduct(data)"  nzShape="round">
              <span nz-icon nzType="download"></span>
            voir+
            </button>

          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
</div>
